body {
  font-family: "Nunito Sans", sans-serif;
}

.header-img {
  position: relative;
  margin-left: 45%;
}

h1 {
  text-align: center;
  font-family: "Arimo", sans-serif;
}

h3 {
  text-align: center;
}

.block {
  display: flex;
  justify-content: center;
}

.ans-block {
  margin-left: 80px;
  margin-right: 80px;
}

footer {
  text-align: center;
  padding-top: 20px;
}
